<div class= "answer position-absolute top-50 start-50 translate-middle">
  <a class="btn btn-primary text-decoration-none"<%= link_to "Ask a new question", ask_path %> </a>

  <div class= py-4><%=@answer%></div>
</div>
